<section>
  <h1><%= @current_user&.name %> Recipes</h1>

  <div>
    <% @recipes.each do |recipe| %>
      <a href="<%= recipe_path(recipe)%>">
        <div>
          <h2><%= recipe.name %></h2>
          <% if can? :destroy, recipe %>
            <%= form_with model: recipe, url: recipe_path(recipe), method: :delete do |f| %>
              <%= f.submit 'Remove', class: 'delete-button' %>
            <% end %>
          <% end %>
        </div>
        <p><%= recipe.description %></p>
      </a>
    <% end %>
  </div>
  <%= link_to 'Create New Recipe', new_recipe_path, class: 'create-button' %>
</section>
