<div class="add-ingredient">
  <h2 class="item-food-title title">Add a new Ingredrient</h2>
  <%= form_with(model: @recipe_food, url: recipe_recipe_foods_path(@recipe), method: :post) do |f| %>
    
    <div class="new-recipe-food">
    
      <%= link_to '+ Add new food', new_food_path(@recipe), class: 'new-food new-link' %>

      <div class="input-column">
        <%= f.label :food_id, 'Food' %>
        <%= f.collection_select :food_id, Food.order(:name), :id, :name, required: true %>
      </div>

      <div class="input-column">
        <%= f.label :quantity %>
        <%= f.number_field :quantity, required: true%>
      </div>

      <div class="actions">
        <%= f.submit "Add" %>
      </div>
    </div>
  <% end %>
</div>
